body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    background:#fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
#add-btn{
    padding: 8px 12px;
    margin-left: 5px;
}

li{
    margin: 10px 0;
    padding: 6px;
    background: #e2e2e2;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

li button{
    background: red;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
}
